<div class="modal-overlay" (click)="close()">
  <div class="modal-container" (click)="stopPropagation($event)">

    <!-- start header -->
    <div class="modal-header">
      <h2>New Task {{ typeTask }}</h2>
      <button class="close-btn" (click)="close()">×</button>
    </div>
    <!-- end header -->

    <!-- start body -->
    <div class="modal-body">
      <form (ngSubmit)="createTask()">
        <app-input-text [placeholder]="'Name task'" [(text)]="task.title"></app-input-text>
        <app-text-area label="Description" [(text)]="task.description" />
        <app-date label="Date d'échéance" [(date)]="task.dueDate" />
        <app-select label="Priorité" [(selected)]="task.priority" [options]="priorityOptions" />
        <app-select label="Statut" [(selected)]="task.status" [options]="statusOptions"></app-select>
        <app-select label="assign to" [(selected)]="task.assignee" [options]="users"></app-select>
        <app-select label="type" [(selected)]="task.label" [options]="listType"></app-select>
        <app-sub-task-list [(subtasks)]="task.subtasks" />
      </form>
    </div>
    <!-- end body -->

    <!-- start footer -->
    <div class="modal-footer">
      <button class="btn-primary" (click)="createTask()">Créer</button>
      <button class="btn-secondary" (click)="close()">Fermer</button>
    </div>
    <!-- end footer -->

  </div>
</div>
a