.super-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sign-box {
  height: 60vh;
  width: 60vw;
  background-color: #b66262;
  border-radius: 30px;

  h1 {
    font-size: 30px;
    text-align: center;
    color: #fff;
  }
}