<div class="activity-conainer">
  <!-- start header -->
  <header>
    <div class="header-left">
      <ul>
        <li>Overview</li>
        <li>Tasks</li>
        <li>Notes</li>
        <li>Questions</li>
      </ul>
    </div>
    <div class="header-right">
      <span><i class="fa fa-columns" aria-hidden="true"></i></span>
      <span>Board</span>
      <button class="logout-button" (click)="logOut()">Logout</button>
    </div>
  </header>
  <!-- end header -->

  <!-- start body -->
  <div class="activity-body">
    <div class="wrapper-activity" cdkDropListGroup>
    @for (column of columns; track $index) {
      <div class="wrapper-column">
        @defer () { <app-task-column [tasks]="column?.tasks ?? []" [title]="column.title" [color]="column.color" [column]="column"></app-task-column> }
      </div>
      }
    </div>
  </div>
  <!-- end body -->
</div>
