.box-task-con {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e2e8f0;
    cursor: move;
    flex: 1;
    width: 100%;
    height: 280px;
    min-width: 290px;

    .box-task-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: .8em .5em 0em .8em;

        .box-task-tag {
            font-weight: 500;
            background-color: rgb(35, 228, 228);
            border-radius: 30px;
            padding: .25em 1em;
        }

        .box-task-icon {
            color: #0a0a0a;
            padding: .5em;
            cursor: pointer;
        }
    }

    .box-task-body {
        padding: .8em 1em .5em .8em;
        height: calc(100% - 53 * 2px);

        h4 {
            padding-top: 0em;
            font-weight: 500;
        }

        p.box-task-desc {
            padding-top: .5em;
            text-wrap: pretty;
            color: #837a7a;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 83px;
        }

        .result {
            border: 1px solid #e2e8f0;
            width: fit-content;
            padding: .3em;
            border-radius: 5px;
            color: #a1a2a3;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            font-size: 14px;
            margin-top: 8px;
        }
    }

    .box-task-footer {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: end;
        border-top: 1px solid #e2e8f0;

        .box-task-footer__right {
            padding: 1em 1em 1em .5em;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: #a1a2a3;

            div {
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                gap: 3px;
            }
        }
    }
}