.box-task-con {
    width: 300px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: .8em 1em .8em .5em;

    .box-task-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .box-task-tag {
            font-weight: 500;
            background-color: rosybrown;
            border-radius: 30px;
            padding:  .5em 1em;
        }

        .box-task-icon {
            cursor: pointer;
        }
    }

    .box-task-body {
        h4 {
            padding-top: 1em;
            font-weight: 500;
        }

        p {
            width: 100%;
            // text-align: justify;
            border: 1px solid #ccc;
            padding-top: 1em;
            color: #969696;
        }
    }
}