/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Poppins';
    src: url('/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f3f4f6;
}

img,
svg,
video {
    width: unset;
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
}

.input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;

    label {
        display: block;
        margin-bottom: 5px;
        font-size: 14px;
    }

    input {
        width: 100%;
        padding: 3px 10px 3px 8px;
        background-color: white;
        font-size: 16px;
        border-radius: 5px;
        font-weight: 400;
        border: none;
        outline: none;
    }

}

.input:hover {
    border-color: #6161FF;
}


/*** toast error manageme  **/
.toast-container {
    position: fixed !important;
    /* Remplace relative par fixed pour qu'il ne déplace pas d'autres éléments */
    z-index: 1050;
    /* Assurez-vous qu'il soit devant les autres éléments */
}

.toast-bottom-right {
    bottom: 20px;
    right: 20px;
}

.toast-top-right {
    top: 20px;
    right: 20px;
}

.toast {
    margin-bottom: 15px;
    /* Espacement entre les toasts empilés */
}