<div class="input">
    <label [for]="id" class="label">{{ label }}</label>
    <div class="form-input">
        <input [type]="showPassword() ? 'text' : 'password'" [(ngModel)]="password" [placeholder]="placeholder"
            [id]="id" [class]="inputClass" (ngModelChange)="this.passwordChange.emit(this.password)"/>
        <i class="fas" [ngClass]="showPassword() ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"
            [attr.aria-label]="showPassword() ? 'Show password' : 'Hide password'">
        </i>
    </div>
</div>