.form-input {
    position: relative;
    display: flex;
    align-items: center;

    .fas {
        position: absolute;
        right: 10px;
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
}